@page "/not-found"

<div style="text-align:center; margin-top:50px;">
    <h1>😕 О как...</h1>
    <p>Похоже, такой страницы нет. Проверь адрес или вернись <a href="/">в лобби</a>.</p>

    <img src="images/okak.jpg" alt="О как..." style="max-width:400px; border-radius:10px;" />
</div>